<?xml version="1.0" encoding="utf-8"?>
<Containers>
  <Container Key="-1592402827">
    <Items>
      <Item Id="{61c8cc4a-f3d8-478e-903c-c4680952dae7}">
        <Id>1</Id>
        <File>ListOfDeal\Classes\MainViewModelMethods.cs</File>
        <Line>70</Line>
        <Character>32</Character>
      </Item>
      <Item Id="{8240594f-69f0-4d78-b5a5-6e35ca613eee}">
        <Id>2</Id>
        <File>ListOfDeal\Classes\WList\WLProcessor.cs</File>
        <Line>154</Line>
        <Character>71</Character>
      </Item>
    </Items>
  </Container>
</Containers>